<div class="container mt-4">
  <h1 class="bg-warning p-3 text-center">Profil de l'utilisateur</h1>
  <div class="card mt-4">
    <div class="card-body">
      <h2 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h2>
      <p class="card-text">Âge : <%= @user.age %></p>
      <%= link_to "Voir la ville de #{@user.first_name}", city_path(@user.city_id) %>
      <p class="card-text">E-mail : <%= @user.email %></p>
      <p class="card-text">Description : <%= @user.description %></p>

    </div>
  </div>
</div>